<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">
    <display-name>VenuesServer</display-name>
    <description>Starts an Access Grid VenueServer</description>
    <servlet>
        <servlet-name>VenueServer</servlet-name>
        <servlet-class>com.googlecode.onevre.web.venueserver.VenueServerStartServlet</servlet-class>
        <init-param>
            <param-name>ServerConfig</param-name>
            <param-value>VenueServer.cfg</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!--    <servlet>
        <servlet-name>Venues</servlet-name>
        <servlet-class>com.googlecode.onevre.web.venueserver.VenuesServlet</servlet-class>
        <init-param>
            <param-name>ServerConfig</param-name>
            <param-value>webapps/Venues/VenueServer.cfg</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Venues</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VenueServer</servlet-name>
        <url-pattern>/VS/*</url-pattern>
    </servlet-mapping>-->
</web-app>
