<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">
    <display-name>PointOfReference</display-name>
    <description>A point of reference for multicast traffic</description>
    <servlet>
        <servlet-name>PointOfReference</servlet-name>
        <servlet-class>pag.por.PointOfReferenceServlet</servlet-class>
        <init-param>
            <param-name>pagServer</param-name>
            <param-value>
                http://pag.rcs.manchester.ac.uk/pag/jsp/getBridgeJars.jsp
            </param-value>
        </init-param>
        <init-param>
            <param-name>bridgeRegistry</param-name>
            <param-value>
                http://www.accessgrid.org/registry/peers.txt
            </param-value>
        </init-param>
        <init-param>
            <param-name>multicastAddress</param-name>
            <param-value>224.0.24.126</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>57004</param-value>
        </init-param>
        <init-param>
            <param-name>registryDelay</param-name>
            <param-value>120000</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointOfReference</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
